@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 88% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 165 88% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 165 88% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 169 79% 36%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 168 70% 85%;
    --secondary-foreground: 169 79% 20%;
    --muted: 168 70% 90%;
    --muted-foreground: 225.5 8.9% 46.1%;
    --accent: 140 78% 73%;
    --accent-foreground: 140 80% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355.7 100% 97.3%;
    --border: 169 79% 80%;
    --input: 165 88% 100%;
    --ring: 169 79% 36%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 165 88% 97%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 165 88% 97%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 165 88% 97%;
    --primary: 169 79% 36%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 169 79% 20%;
    --secondary-foreground: 165 88% 97%;
    --muted: 169 79% 15%;
    --muted-foreground: 168 70% 85%;
    --accent: 140 78% 73%;
    --accent-foreground: 140 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 169 79% 20%;
    --input: 169 79% 20%;
    --ring: 169 79% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
